.title-blog, .subtitle-blog {
  font-size: 2rem !important;
  font-family: 'Montserrat' !important;
}

.post-grid {
  content: "";
  display: table;
  width: 100%;
  margin-left: -30px;
}

.post {
  background-color:black;
}

.grid-item:nth-child(3n+1), .grid-item:nth-child(3n+3) {
    height: 600px;
    width: 94.6%;
    background-color:green;
}

.grid-item, .grid-item:nth-child(3n+1) {
    height: 450px;
    width: 45%;
    background-color:red;
}

.grid-item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-bottom: 30px;
    margin-left: 60px;
}

.post-inside {
    background-color: #111;
    height: 100%;
    position: relative;
    width: 100%;
}

.post-bg {
  -webkit-animation: fadeIn 1s ease-in-out;
  animation: fadeIn 1s ease-in-out;
  background-position: center;
  background-size: cover;
  bottom: 0;
  left: 0;
  opacity: .4;
  position: absolute;
  right: 0;
  top: 0;
}

.post-inside .post-header {
    color: #fff;
    padding: 60px;
    position: relative;
}

.post-header {
    margin-bottom: 30px;
}

.home-template .grid-item:nth-child(3n+1) .post-title {
    font-size: 28px;
    max-width: none;
}

.grid-item:nth-child(3n+3) .post-inside .post-title {
    font-size: 40px;
    max-width: 80%;
}

.post-title {
    font-size: 28px;
    margin-bottom: 10px;
    color:white;
    font-family: 'Montserrat';
}

.post-title > a{
   color: white;
}

.tag-links {
    font: bold 10px/1.5 'Montserrat',sans-serif;
    letter-spacing: 1px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.tag-links a {
    border: 2px solid #fff;
    color: #fff;
    display: inline-block;
    margin-right: 5px;
    padding: 1px 3px;
}

.post-meta {
    color: #ccc;
    font: 12px/1.5 'Montserrat',sans-serif;
    letter-spacing: 1px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.post-inside .read-more {
    bottom: 60px;
    left: 60px;
    position: absolute;
}

.post-inside .read-more a {
  border:3px solid white;
  color:white;
  padding:10px;
}

.custom-btn {
  transition: background-color 0.5s ease;
}

.custom-btn:hover {
  background-color:#007bff;
  text-decoration: none;
}

/*

  MOBILE

*/


@media only screen and (max-width: 480px) {
.post-grid, .author-template .post-grid, .tag-template .post-grid {
    margin-left: -15px !important;
  }
}

@media only screen and (max-width: 960px) {
.grid-item, .grid-item:nth-child(3n+1) {
    width: 100% !important;
    margin-left: 15px;
  }
}

@media only screen and (max-width: 480px) {
.post-inside .post-header {
    padding: 30px !important;
  }
}

@media only screen and (max-width: 480px) {
.post-title, .grid-item:nth-child(3n+1) .post-inside .post-title, .grid-item:nth-child(3n+3) .post-title {
    font-size: 24px !important;
  }
}
@media only screen and (max-width: 960px) {
.grid-item:nth-child(3n+1) .post-inside .post-title, .grid-item:nth-child(3n+3) .post-title {
    font-size: 28px !important;
    max-width: none !important;
  }
}
