<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Restopolitan, un repas offert à chaque addition</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  </head>
  <body>
    <nav class="navbar navbar-fixed-top navbar-default">
        <div class="container">

            <!-- Brand name -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar_main"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" style="font-family: 'Pacifico', cursive;">dass</a>
            </div>

            <!-- Links -->
            <div class="collapse navbar-collapse" id="navbar_main">

                <ul class="nav navbar-nav navbar-right">
                    <li class=""><a href="#section_features">Notre service</a></li>
                    <li class=""><a href="#section_portfolio">Nos réalisations</a></li>
                    <li class=""><a href="#section_about">Nos engagements</a></li>
                    <!--<li class=""><a href="#section_contact">Devis Gratuit</a></li>-->
                    <!--<li>
                        <a id="menu-chat" href="#" target="_blank" style="display:none;">Rejoignez
                            moi sur Facebook</a>
                    </li>-->
                    <li class=""><a href="fdsfds"><i class="ion-ios-telephone"></i>fsd</a></li>
                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>
    {% block page %}
    {% endblock %}
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
  </script>
  </body>
</html>
